@import url('https://www.fontspace.com/lost-fish-font-f31048');
body {

  font-family: Arial, sans-serif;
  background: url("../images/fishAI_Background.png") center / cover no-repeat;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

.logo-container {
  position: absolute;
  top: 10px;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1500px) {
  .logo-container {
    position: static;
    justify-content: center;
    margin-bottom: 20px;
  }

  .chat-container {
    margin-top: 20px;
  }
}

.fishy {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.fishy img {
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.chat-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #242727;
  border: 1px solid #444;
  border-radius: 15px;
}

h1 {
  text-align: center;
  font-family: Lost Fish;
  color: #e0e0e0;
}

.chat-window {
  border: 1px solid #444;
  height: 700px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 15px;
  background: url("../images/fishAI.webp") center / cover no-repeat;
  transform-origin: center;
}

.message-container {
  display: block-inline;
  margin-bottom: 10px;
}

.message-container.user {
  justify-content: flex-end;
  text-align: right;
}

.message-container.bot {
  justify-content: flex-start;
}

.message {
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  max-width: 80%;
  position: relative;
  animation: fadeIn 0.5s ease-in-out, bubble 2s ease-in-out;
  word-wrap: break-word;
}

.message.user {
  text-align: right;
  color: #fff;
  background: #007AFF;
}

.message.bot {
  text-align: left;
  color: #000000;
  background: #d8d8d8;
}

.input-row {
  display: flex;
}

.input-row input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background: #333;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 4px;
}

.input-row button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  background: #007AFF;
  color: #fff;
  border: none;
  border-radius: 4px;
}
